.wrap{
    background-color: red;

}
.nav-link{
    width: 150px;
    height: 150px;
    background-color: sienna;
    float: left;
}
.nav-list{
    width: 250px;
    height: 250px;
    background-color: rgb(0, 255, 34);
    float: right;
}
.clearfix{
    clear: both;
}
.wrap-next{
    background-color: coral;
}
.rest-link{
    width: 200px;
    height: 200px;
    background-color: darkblue;
    float: left;
}
.rest-list{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
    float: right;
}
.rest-lost{
    width: 100px;
    height: 100px;
    background-color: rgb(184, 11, 184);
    float: right;

}
.rest-past{
    width: 100px;
    height: 100px;
    background-color: rgb(184, 46, 11);
    float: right;

}
.rest-next{
    width: 100px;
    height: 100px;
    background-color: rgb(181, 184, 11);
    float: right;

}
.header{
    background-color: greenyellow;
}
.logo{
    width: 150px;
    height: 150px;
    background-color: red;
    border: 3px solid blue;
    float: left;
}
.logo-past{
    width: 150px;
    height: 150px;
    background-color: red;
    border: 3px solid blue;
    float: left;
}
.logo-lost{
    width: 150px;
    height: 150px;
    background-color: red;
    border: 3px solid blue;
    float: right;
}
.logo-link{
    width: 150px;
    height: 150px;
    background-color: red;
    border: 3px solid blue;
    float: right;
}
.wrapper{
    background-color: blueviolet;
}
.children{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    float: right;
}
.card{
    width: 200px;
    height: 200px;
    float: right;
}
.child{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.wrp{
    background-color: rgb(128, 165, 42);
}
.cont{
    border: 1px solid black;
    margin: auto;
}
.childr{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    display: inline-block;
}
.car{
    width: 200px;
    height: 200px;
    display: inline-block;
}
.chil{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}













